
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	//font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #999999;
	background: #FAFAFA;
	position: relative;
	overflow-x: hidden;
	
	font-family:  IBM Plex Mono;



	
}
[class*="__container"] {
	max-width: 1410px;
	margin: 0 auto;
	padding: 0px 15px;

	
}

	.header {		 
		font-family: Libre Franklin;
		position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	color: #FFFFFF;
	height: 66px;
	@media (max-width: 925px) {
		height: 46px;			
	}

	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0,0,0,.8);
		//background-color: aquamarine;
	}
		// .header__container

		&__container {
			//z-index: 100;
			align-items:center;
		}

		// .header__body

		&__body {
			position: relative;
			//z-index: 3;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			margin-top: 10px;
			@media (max-width: 925px) {
				
			}
		
		}

		// .header__logo

		&__logo {
			position: relative;
			z-index: 3;
		}

		// .header__burger

		&__burger {
			display: none;
	@media (max-width: 925px) {
		display: block;
		position: relative;
		flex: 0 0 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		&.header__burger.active  {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
		}

		// .header__menu

		&__menu {
			display: flex;
			@media (max-width: 925px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color:#0A0E1A;;
			padding: 100px 0px 0px 0px;
			flex-direction: column;
			text-align: center;
			font-size: 40px;
			transition: all 0.3s ease 0s;
			overflow: auto;
			}
			&.header__menu.active{
				top: 0;
			}

		}

		// .header__list

		&__items {
			display: flex;
			margin-right: 18px;
			position: relative;
			z-index: 2;
			@media (max-width: 925px) {
				flex-direction: column;
				justify-content: center;
				text-align: center;	
			}
			
		}
		&__item{
			padding: 10px 17px;
			display: flex;
			margin-left: 40px;
			justify-content: center;
			
			
			&:hover {
				color: #5AB963;
			}
		}

		// .header__link

		&__link {
			
			
		}

		// .header__registr

		&__registers {
			display: flex;
			position: relative;
			z-index: 2;
			@media (max-width: 925px) {
				flex-direction: column;	
				padding-top: 30px;
				
			}
		}
		&__register{
			margin-left: 18px;
			padding: 10px 17px;
			&:hover {
				color: #5AB963;
			}
			&:not(:last-child) {
				&::before {
					content: "";
					position: absolute;
					top: 18px;
					right: 235px;
					width: 4px;
					height: 4px;
					background-color:#FFFFFF;
					color: #FFFFFF;
					@media (max-width: 925px) {
						display: none;	
					}
				}
			}
			
		}

		// .header__registr-link

		&__registr-link {
			
			
		}
}

.mainpage {
	background: url(../img/placeholder.png) no-repeat ;
	background-size: 100%;
	color: #FFFFFF;
	//height: 100%;
	background-size: cover;
	background-position: 50% 50%;

	// .mainpage__container

	&__container {
		padding-top: 183px;
		display: flex;
		flex-direction: column;
		justify-items: center;
		text-align: center;
	}

	// .mainpage__titel

	&__titel {
	font-family: Libre Franklin;
	font-weight: 700;
	font-size: 71px;
	line-height: 78px;
	text-align: center;
	letter-spacing: 1px;
	@media (max-width: 370px) {
		font-size: 40px;
	}
	

	}

	// .mainpage__subtitel

	&__subtitel {
		font-weight: 700;
		font-size: 13px;
		line-height: 24px;
		text-align: center;
		padding-top: 35px;


	}
}
.btn {
	margin: 60px 0px 120px 0px;
		color: #fff;
		background: #5AB963;
		border-radius: 4px;
		align-self: center;
		display: inline-flex;
		padding: 15px 30px;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
	
		}
	
	// .btn__get


.promoting {

	// .promoting__container

	&__container {
	}

	// .promoting__titel

	&__titel {
		font-family: Libre Franklin;
		padding: 120px 0px 54px 0px;
		max-width: 507px;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
	}

	// .promoting__titel-span

	&__titel-span {
		
		font-weight: 700;
		
		color: #000;
	}

	// .promoting__items

	&__items {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		@media (max-width: 736px) {
			flex-wrap: wrap;;

		}
	}

	// .promoting__item

	&__item {
		border: 1px solid #F7F7F7; filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.05));
		flex: 1 1 33.333%;
		//border: #0A0E1A 1px solid;
		padding: 51px 60px 109px 41px;
		@media (max-width: 736px) {
			padding: 30px 30px;
		}
		
	}

	// .promoting__body

	&__body {
		@media (max-width: 736px) {
			text-align: center;
		}
	}

	// .promoting__body-image

	&__body-image {
	}

	// .promoting__body-title

	&__body-title {
		padding: 25px 0px 13px 0px;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #000;
	}

	// .promoting__body-text

	&__body-text {
		font-weight: 400;
		font-size: 13px;
		line-height: 24px;
		color: #999999;
	}
}
.eggs {
	padding-top: 120px;
	// .eggs__container

	&__box {
		padding: 0px 30px;
		@media (max-width: 1440px) {
			padding: 0px 15px;
		}
		
	}
	&__image{
		width: 100%;
		height: auto;
	}
}
.subtext {
	padding-top: 115px;

	// .subtext__container

	&__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

	// .subtext__titel

	&__titel {
		font-family: Libre Franklin;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		max-width: 685px;
		text-align: center;
		align-self: center;
	}

	// .subtext__span

	&__span {
		font-weight: 700;		
		color: #000;
	}

	// .subtext__link

	&__link {
	text-align: center ;
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #5AB963;
	padding: 6px 0px 115px 0px;
	}
}


.menu {

	// .menu__container

	&__container {
		padding-top: 123px;
		
	}

	// .menu__leftblocks

	&__leftblocks {
		display: flex;
		justify-content: left;
		padding-bottom: 93px;
		@media (max-width: 855px) {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;

		}
	}

	// .menu__rightblocks

	&__rightblocks {
		display: flex;
		justify-content: right;
		@media (max-width: 855px) {
			display: flex;
			flex-direction: column;
			justify-content: center;

		}
	}
}
.block {

	// .block__img

	&__img {
		padding: 0px 100px 0px 0px;
		@media (max-width: 855px) {
			padding: 30px 0px;
		}
		& img{
			width: 100%;
		height: auto;
		}
	}

	// .block__text

	&__text {
		max-width: 370px;
		@media (max-width: 855px) {
			max-width: 100%;
			text-align: center;
		}
	}

	// .block__title

	&__title {
		font-family: Libre Franklin;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		padding-bottom: 25px;
		
		
	}

	// .block__title-span

	&__title-span {
		font-weight: 700;		
		color: #000;
	}

	// .block__subtitle

	&__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	}

	// .block__text-right

	&__text-right {
	}

	// .block__title-right

	&__title-right {
	}

	// .block__subtitle-right

	&__subtitle-right {
	}

	// .block__img-right

	&__img-right {
		padding: 0px 0px 0px 100px;
		@media (max-width: 855px) {
			padding: 30px 0px;
		}
	}
}
.menu {

	// .menu__text

	&__text {
		padding-top: 110px;
	}

	// .menu__title

	&__title {
		font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #000000;
	padding-bottom: 12px;

	}

	// .menu__link

	&__link {
		font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #5AB963;
	padding-bottom: 120px;
	}
}

.party {

	// .party__container

	&__container {
		padding-top: 120px;
		padding-bottom: 150px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	// .party__text

	&__text {
		
	}

	// .party__title

	&__title {
	font-family: 'Libre Franklin';
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #5AB963;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 90px;
		width: 30px;
		height: 2px;
		background-color:#5AB963;
		
		
	}
	}

	// .party__subtitle

	&__subtitle {
		font-family: Libre Franklin;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		padding-bottom: 25px;
		max-width: 483px;
	}

	// .party__subtitle-span

	&__subtitle-span {
		font-weight: 700;		
		color: #000;
	}

	// .party__btn

	&__btn {
		margin-top: 20px;
		color: #fff;
		background: #5AB963;
		border-radius: 4px;
		//align-self: center;
		//display: inline-flex;
		padding: 15px 30px;
		font-family: 'Libre Franklin';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		//max-width: 160px;
		max-height: 60px;
		@media (max-width: 700px) {
			display: inline-flex;
			max-width: 160px;
			
		}
	}
}

.footer {
 background-color: #000;
 color: #fff;
 font-family: 'Libre Franklin';
	// .footer__container

	&__container {
		display: flex;
		justify-content: space-between;
		padding-top: 120px;
		padding-bottom: 200px;
		@media (max-width: 540px) {
			padding-top: 60px;
			padding-bottom: 100px;
		}
		@media (max-width: 430px) {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			
			
		}
	}

	// .footer__spoon

	&__spoon {
	}

	// .footer__logo

	&__logo {
	}

	// .footer__year

	&__year {
		padding-top: 15px;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #666666;
	}

	// .footer__body

	&__body {
		display: flex;
		@media (max-width: 430px) {
			flex-direction: column;
			text-align: center;
			padding-top: 30px;
		}
	}

	// .footer__info

	&__info {
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
	}

	// .footer__image

	&__image {
		padding-bottom: 25px;
	}

	// .footer__powered

	&__powered {
	}

	// .footer__links

	&__links {
		display: flex;
		padding-left: 40px;
		@media (max-width: 540px) {
			flex-direction: column;
			padding-left: 10px;
		}
		@media (max-width: 430px) {
			flex-direction: row;
			text-align: center;
			padding-top: 20px;
			justify-content: center;
		}
	}

	// .footer__link

	&__link {
		&:not(:last-child) {
			padding: 0px 29px 0px 0px;
		}
	}
}
